<div class="container section_2 col-sm-8">
    <input type="text" value="{{question_sq}}" name='question_sq' hidden>
    <div class="row card questioniner" >
        <span class="card-header p-1 "><strong>{{ numbering.2.0 }}.</strong> 주중 대변횟수</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_count" id="poo_count1" value="0.75" required>
                <label class="form-check-label" for="poo_count1">1일</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_count" id="poo_count2" value="0.5" required>
                <label class="form-check-label" for="poo_count2">2일</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_count" id="poo_count3" value="0.33" required>
                <label class="form-check-label" for="poo_count3">3일</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_count" id="poo_count4" value="0.25" required>
                <label class="form-check-label" for="poo_count4">4일</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_count" id="poo_count5" value="0.2" required>
                <label class="form-check-label" for="poo_count5">5일</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.2.1 }}.</strong> 대변 냄새</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_smell" id="poo_smell1" value="0" required>
                <label class="form-check-label" for="poo_smell1">보통</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_smell" id="poo_smell2" value="1" required> 
                <label class="form-check-label" for="poo_smell2">심함</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.2.2 }}.</strong> 후중감</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_feel" id="poo_feel1" value="0" required>
                <label class="form-check-label" for="poo_feel1">없음</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_feel" id="poo_feel2" value="1" required>
                <label class="form-check-label" for="poo_feel2">약함</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_feel" id="poo_feel3" value="2" required>
                <label class="form-check-label" for="poo_feel3">강함</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.2.3 }}.</strong> 대변색</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_color" id="poo_color1" value="1" required>
                <label class="form-check-label" for="poo_color1">황금색</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_color" id="poo_color2" value="2" required>
                <label class="form-check-label" for="poo_color2">황갈색</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_color" id="poo_color3" value="3" required>
                <label class="form-check-label" for="poo_color3">검은색</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_color" id="poo_color4" value="4" required>
                <label class="form-check-label" for="poo_color4">기타</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.2.4 }}.</strong> 대변형태모양</span>
        <div class="qbox p-1 text-dark">
            <p style="font-size: .8em; text-align: left; width: 100%;">* 평소대로 먹을 경우의 변의 모양 선택</p> 
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_shape" id="poo_shape1" value="1" required>
                <label class="form-check-label" for="poo_shape1">1번</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_shape" id="poo_shape2" value="2" required>
                <label class="form-check-label" for="poo_shape2">2번</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_shape" id="poo_shape3" value="3" required>
                <label class="form-check-label" for="poo_shape3">3번</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_shape" id="poo_shape4" value="4" required>
                <label class="form-check-label" for="poo_shape4">4번</label>
            </div>
            <!-- <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_shape" id="poo_shape5" value="5" required>
                <label class="form-check-label" for="poo_shape5">5번</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_shape" id="poo_shape6" value="6" required>
                <label class="form-check-label" for="poo_shape6">6번</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="poo_shape" id="poo_shape7" value="7" required>
                <label class="form-check-label" for="poo_shape7">7번</label>
            </div> -->

            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <span style="text-decoration: underline;">이미지 보기</span>
            </button>

        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.2.5 }}.</strong> 설사경향모양</span>
        <div class="qbox p-1 text-dark">
            <!-- <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="diarrhea_shape" id="diarrhea_shape1" value="1" required>
                <label class="form-check-label" for="diarrhea_shape1">1번</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="diarrhea_shape" id="diarrhea_shape2" value="2" required>
                <label class="form-check-label" for="diarrhea_shape2">2번</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="diarrhea_shape" id="diarrhea_shape3" value="3" required>
                <label class="form-check-label" for="diarrhea_shape3">3번</label>
            </div> -->
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="diarrhea_shape" id="diarrhea_shape4" value="4" required>
                <label class="form-check-label" for="diarrhea_shape4">4번</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="diarrhea_shape" id="diarrhea_shape5" value="5" required>
                <label class="form-check-label" for="diarrhea_shape5">5번</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="diarrhea_shape" id="diarrhea_shape6" value="6" required>
                <label class="form-check-label" for="diarrhea_shape6">6번</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="diarrhea_shape" id="diarrhea_shape7" value="7" required>
                <label class="form-check-label" for="diarrhea_shape7">7번</label>
            </div>

            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <span style="text-decoration: underline;">이미지 보기</span>
            </button>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.2.6 }}.</strong> 소변하루횟수(회/일)</span>
        <div class="qbox p-1 text-dark">
            <div class="input-group mb-3">
                <input type="number" min="0" class="form-control" name="pee_count" placeholder="횟수 입력" required>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.2.7 }}.</strong> 주간 야간뇨 횟수(일/주)</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pee_night_count" id="pee_night_count1" value="0.75" required>
                <label class="form-check-label" for="pee_night_count1">1일</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pee_night_count" id="pee_night_count2" value="0.5" required>
                <label class="form-check-label" for="pee_night_count2">2일</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pee_night_count" id="pee_night_count3" value="0.33" required>
                <label class="form-check-label" for="pee_night_count3">3일</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pee_night_count" id="pee_night_count4" value="0.25" required>
                <label class="form-check-label" for="pee_night_count4">4일</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pee_night_count" id="pee_night_count5" value="0.2" required>
                <label class="form-check-label" for="pee_night_count5">5일</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.2.8 }}.</strong> 수분섭취(L)</span>
        <div class="qbox p-1 text-dark">
            <div class="input-group mb-3">
            <input type="number" min="0" step="0.5" class="form-control" name="water_amount"  placeholder="L(리터) 입력" required>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.2.9 }}.</strong> 구갈(갈증)</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="mouth_thirsty" id="mouth_thirsty1" value="0" required>
                <label class="form-check-label" for="mouth_thirsty1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="mouth_thirsty" id="mouth_thirsty2" value="1" required>
                <label class="form-check-label" for="mouth_thirsty2">YES</label>
            </div>
        </div>
    </div>
 
    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.2.10 }}.</strong> 구건(입마름)</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="mouth_dry" id="mouth_dry1" value="0" required>
                <label class="form-check-label" for="mouth_dry1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="mouth_dry" id="mouth_dry2" value="1" required>
                <label class="form-check-label" for="mouth_dry2">YES</label>
            </div>
        </div>
    </div>
 
    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.2.11 }}.</strong> 저작횟수(음식 씹는 횟수)</span>
        <div class="qbox p-1 text-dark">
            <div class="input-group mb-3"  id="lineinput">
                <input type="number" min="0" class="form-control" name="mouth_chew" placeholder="횟수 입력" required>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.2.12 }}.</strong> 야식</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_night" id="food_night1" value="0" required>
                <label class="form-check-label" for="food_night1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_night" id="food_night2" value="1" required>
                <label class="form-check-label" for="food_night2">YES</label>
            </div>
        </div>
    </div>
    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.2.13 }}.</strong> 폭식</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="foot_excess" id="foot_excess1" value="0" required>
                <label class="form-check-label" for="foot_excess1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="foot_excess" id="foot_excess2" value="1" required>
                <label class="form-check-label" for="foot_excess2">YES</label>
            </div>
        </div>  
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.2.14 }}.</strong> 불규칙식사</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_unbalance" id="food_unbalance1" value="0" required>
                <label class="form-check-label" for="food_unbalance1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_unbalance" id="food_unbalance2" value="1" required>
                <label class="form-check-label" for="food_unbalance2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.2.15 }}.</strong> 소화불량:20대 이전</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="indigestion_before" id="indigestion_before1" value="0" required>
                <label class="form-check-label" for="indigestion_before1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="indigestion_before" id="indigestion_before2" value="1" required>
                <label class="form-check-label" for="indigestion_before2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.2.16 }}.</strong> 소화불량:20대 이후</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="indegestion_after" id="indegestion_after1" value="0" required>
                <label class="form-check-label" for="indegestion_after1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="indegestion_after" id="indegestion_after2" value="1" required>
                <label class="form-check-label" for="indegestion_after2">YES</label>
            </div>
        </div>
    </div>

</div>
