<div class="container section_4 col-sm-8">
    <input type="text" value="{{question_sq}}" name='question_sq' hidden>
    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.0 }}.</strong> 식욕</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:전혀없음 ~ 5:매우왕성</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="appetite" id="appetite1" value="1" required>
                <label class="form-check-label" for="appetite1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="appetite" id="appetite2" value="2" required>
                <label class="form-check-label" for="appetite2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="appetite" id="appetite3" value="3" required>
                <label class="form-check-label" for="appetite3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="appetite" id="appetite4" value="4" required>
                <label class="form-check-label" for="appetite4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="appetite" id="appetite5" value="5" required>
                <label class="form-check-label" for="appetite5">5</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.1 }}.</strong> 소화</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:전혀안됨 ~ 5:매우잘됨</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion" id="digestion1" value="1" required>
                <label class="form-check-label" for="digestion1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion" id="digestion2" value="2" required>
                <label class="form-check-label" for="digestion2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion" id="digestion3" value="3" required>
                <label class="form-check-label" for="digestion3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion" id="digestion4" value="4" required>
                <label class="form-check-label" for="digestion4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion" id="digestion5" value="5" required>
                <label class="form-check-label" for="digestion5">5</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.2 }}.</strong> 대변</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:매우불편함 ~ 5:매우잘봄</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="foo" id="foo1" value="1" required>
                <label class="form-check-label" for="foo1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="foo" id="foo2" value="2" required>
                <label class="form-check-label" for="foo2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="foo" id="foo3" value="3" required>
                <label class="form-check-label" for="foo3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="foo" id="foo4" value="4" required>
                <label class="form-check-label" for="foo4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="foo" id="foo5" value="5" required>
                <label class="form-check-label" for="foo5">5</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.3 }}.</strong> 소변</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:매우불편함 ~ 5:매우잘봄</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fee" id="fee1" value="1" required>
                <label class="form-check-label" for="fee1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fee" id="fee2" value="2" required>
                <label class="form-check-label" for="fee2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fee" id="fee3" value="3" required>
                <label class="form-check-label" for="fee3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fee" id="fee4" value="4" required>
                <label class="form-check-label" for="fee4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fee" id="fee5" value="5" required>
                <label class="form-check-label" for="fee5">5</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.4 }}.</strong> 수면</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:전혀못잠 ~ 5:매우잘잠</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sleep" id="sleep1" value="1" required>
                <label class="form-check-label" for="sleep1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sleep" id="sleep2" value="2" required>
                <label class="form-check-label" for="sleep2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sleep" id="sleep3" value="3" required>
                <label class="form-check-label" for="sleep3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sleep" id="sleep4" value="4" required>
                <label class="form-check-label" for="sleep4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sleep" id="sleep5" value="5" required>
                <label class="form-check-label" for="sleep5">5</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.5 }}.</strong> 스트레스</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:매우심함 ~ 5:전혀없음</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="stress" id="stress1" value="1" required>
                <label class="form-check-label" for="stress1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="stress" id="stress2" value="2" required>
                <label class="form-check-label" for="stress2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="stress" id="stress3" value="3" required>
                <label class="form-check-label" for="stress3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="stress" id="stress4" value="4" required>
                <label class="form-check-label" for="stress4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="stress" id="stress5" value="5" required>
                <label class="form-check-label" for="stress5">5</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.6 }}.</strong> 땀</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:전혀안남 ~ 5:매우많이남</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sweat" id="sweat1" value="1" required>
                <label class="form-check-label" for="sweat1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sweat" id="sweat2" value="2" required>
                <label class="form-check-label" for="sweat2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sweat" id="sweat3" value="3" required>
                <label class="form-check-label" for="sweat3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sweat" id="sweat4" value="4" required>
                <label class="form-check-label" for="sweat4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sweat" id="sweat5" value="5" required>
                <label class="form-check-label" for="sweat5">5</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.7 }}.</strong> 수족냉증</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:매우심함 ~ 5:전혀없음</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="coldhand" id="coldhand1" value="1" required>
                <label class="form-check-label" for="coldhand1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="coldhand" id="coldhand2" value="2" required>
                <label class="form-check-label" for="coldhand2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="coldhand" id="coldhand3" value="3" required>
                <label class="form-check-label" for="coldhand3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="coldhand" id="coldhand4" value="4" required>
                <label class="form-check-label" for="coldhand4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="coldhand" id="coldhand5" value="5" required>
                <label class="form-check-label" for="coldhand5">5</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.8 }}.</strong> 손발저림</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:매우심함 ~ 5:전혀없음</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="hand_numb" id="hand_numb1" value="1" required>
                <label class="form-check-label" for="hand_numb1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="hand_numb" id="hand_numb2" value="2" required>
                <label class="form-check-label" for="hand_numb2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="hand_numb" id="hand_numb3" value="3" required>
                <label class="form-check-label" for="hand_numb3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="hand_numb" id="hand_numb4" value="4" required>
                <label class="form-check-label" for="hand_numb4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="hand_numb" id="hand_numb5" value="5" required>
                <label class="form-check-label" for="hand_numb5">5</label>
            </div>
        </div>
    </div>
 
    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.9 }}.</strong> 두통</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:매우심함 ~ 5:전혀없음</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="headache" id="headache1" value="1" required>
                <label class="form-check-label" for="headache1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="headache" id="headache2" value="2" required>
                <label class="form-check-label" for="headache2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="headache" id="headache3" value="3" required>
                <label class="form-check-label" for="headache3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="headache" id="headache4" value="4" required>
                <label class="form-check-label" for="headache4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="headache" id="headache5" value="5" required>
                <label class="form-check-label" for="headache5">5</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.10 }}.</strong> 어지러움</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:매우심함 ~ 5:전혀없음</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="whirl" id="whirl1" value="1" required>
                <label class="form-check-label" for="whirl1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="whirl" id="whirl2" value="2" required>
                <label class="form-check-label" for="whirl2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="whirl" id="whirl3" value="3" required>
                <label class="form-check-label" for="whirl3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="whirl" id="whirl4" value="4" required>
                <label class="form-check-label" for="whirl4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="whirl" id="whirl5" value="5" required>
                <label class="form-check-label" for="whirl5">5</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.11 }}.</strong> 부종</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:매우심함 ~ 5:전혀없음</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tumepy" id="tumepy1" value="1" required>
                <label class="form-check-label" for="tumepy1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tumepy" id="tumepy2" value="2" required>
                <label class="form-check-label" for="tumepy2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tumepy" id="tumepy3" value="3" required>
                <label class="form-check-label" for="tumepy3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tumepy" id="tumepy4" value="4" required>
                <label class="form-check-label" for="tumepy4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tumepy" id="tumepy5" value="5" required>
                <label class="form-check-label" for="tumepy5">5</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.12 }}.</strong>갈증</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:매우심함 ~ 5:전혀없음</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="thrist" id="thrist1" value="1" required>
                <label class="form-check-label" for="thrist1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="thrist" id="thrist2" value="2" required>
                <label class="form-check-label" for="thrist2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="thrist" id="thrist3" value="3" required>
                <label class="form-check-label" for="thrist3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="thrist" id="thrist4" value="4" required>
                <label class="form-check-label" for="thrist4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="thrist" id="thrist5" value="5" required>
                <label class="form-check-label" for="thrist5">5</label>
            </div>
        </div>
    </div>
    
    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.13 }}.</strong> 경향통(뒷못/어꺠통증)</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:매우심함 ~ 5:전혀없음</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="shoulder_pain" id="shoulder_pain1" value="1" required>
                <label class="form-check-label" for="shoulder_pain1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="shoulder_pain" id="shoulder_pain2" value="2" required>
                <label class="form-check-label" for="shoulder_pain2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="shoulder_pain" id="shoulder_pain3" value="3" required>
                <label class="form-check-label" for="shoulder_pain3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="shoulder_pain" id="shoulder_pain4" value="4" required>
                <label class="form-check-label" for="shoulder_pain4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="shoulder_pain" id="shoulder_pain5" value="5" required>
                <label class="form-check-label" for="shoulder_pain5">5</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.14 }}.</strong> 가슴답답</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:매우심함 ~ 5:전혀없음</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="chest" id="chest1" value="1" required>
                <label class="form-check-label" for="chest1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="chest" id="chest2" value="2" required>
                <label class="form-check-label" for="chest2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="chest" id="chest3" value="3" required>
                <label class="form-check-label" for="chest3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="chest" id="chest4" value="4" required>
                <label class="form-check-label" for="chest4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="chest" id="chest5" value="5" required>
                <label class="form-check-label" for="chest5">5</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.15 }}.</strong> 심계</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:매우심함 ~ 5:전혀없음</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="heart_pain" id="heart_pain1" value="1" required>
                <label class="form-check-label" for="heart_pain1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="heart_pain" id="heart_pain2" value="2" required>
                <label class="form-check-label" for="heart_pain2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="heart_pain" id="heart_pain3" value="3" required>
                <label class="form-check-label" for="heart_pain3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="heart_pain" id="heart_pain4" value="4" required>
                <label class="form-check-label" for="heart_pain4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="heart_pain" id="heart_pain5" value="5" required>
                <label class="form-check-label" for="heart_pain5">5</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.16 }}.</strong> 상열감</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:매우심함 ~ 5:전혀없음</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="anxious" id="anxious1" value="1" required>
                <label class="form-check-label" for="anxious1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="anxious" id="anxious2" value="2" required>
                <label class="form-check-label" for="anxious2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="anxious" id="anxious3" value="3" required>
                <label class="form-check-label" for="anxious3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="anxious" id="anxious4" value="4" required>
                <label class="form-check-label" for="anxious4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="anxious" id="anxious5" value="5" required>
                <label class="form-check-label" for="anxious5">5</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.17 }}.</strong> 만성피로</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:매우심함 ~ 5:전혀없음</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fatigue" id="fatigue1" value="1" required>
                <label class="form-check-label" for="fatigue1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fatigue" id="fatigue2" value="2" required>
                <label class="form-check-label" for="fatigue2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fatigue" id="fatigue3" value="3" required>
                <label class="form-check-label" for="fatigue3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fatigue" id="fatigue4" value="4" required>
                <label class="form-check-label" for="fatigue4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fatigue" id="fatigue5" value="5" required>
                <label class="form-check-label" for="fatigue5">5</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.18 }}.</strong> 생리통</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:매우심함 ~ 5:전혀없음</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="menstruation_pain" id="menstruation_pain1" value="1" required>
                <label class="form-check-label" for="menstruation_pain1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="menstruation_pain" id="menstruation_pain2" value="2" required>
                <label class="form-check-label" for="menstruation_pain2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="menstruation_pain" id="menstruation_pain3" value="3" required>
                <label class="form-check-label" for="menstruation_pain3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="menstruation_pain" id="menstruation_pain4" value="4" required>
                <label class="form-check-label" for="menstruation_pain4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="menstruation_pain" id="menstruation_pain5" value="5" required>
                <label class="form-check-label" for="menstruation_pain5">5</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="menstruation_pain" id="menstruation_pain6" value="0" required>
                <label class="form-check-label" for="menstruation_pain6">해당없음</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.19 }}.</strong> 생리주기</span>
        <p style="font-size: .9em; text-align: center; width: 100%;">1:매우불규칙 ~ 3:일정함</p> 
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="menstruation_period" id="menstruation_period1" value="1" required>
                <label class="form-check-label" for="menstruation_period1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="menstruation_period" id="menstruation_period2" value="2" required>
                <label class="form-check-label" for="menstruation_period2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="menstruation_period" id="menstruation_period3" value="3" required>
                <label class="form-check-label" for="menstruation_period3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="menstruation_period" id="menstruation_period6" value="0" required>
                <label class="form-check-label" for="menstruation_period6">해당없음</label>
            </div>
        </div>
    </div>

    <input type="text" name="healthy_total_score" value="0" hidden>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.20 }}.</strong> 땀 많이나는 부위-전신</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sweat_body" id="sweat_body1" value="0" required>
                <label class="form-check-label" for="sweat_body1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sweat_body" id="sweat_body2" value="1" required>
                <label class="form-check-label" for="sweat_body2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.21 }}.</strong> 땀 많이나는 부위-머리/얼굴</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sweat_face" id="sweat_face1" value="0" required>
                <label class="form-check-label" for="sweat_face1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sweat_face" id="sweat_face2" value="1" required>
                <label class="form-check-label" for="sweat_face2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.22 }}.</strong> 땀 많이나는 부위-겨드랑이/가슴</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sweat_chest" id="sweat_chest1" value="0" required>
                <label class="form-check-label" for="sweat_chest1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sweat_chest" id="sweat_chest2" value="1" required>
                <label class="form-check-label" for="sweat_chest2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.23 }}.</strong> 땀 많이나는 부위-사타구니</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sweat_groin" id="sweat_groin1" value="0" required>
                <label class="form-check-label" for="sweat_groin1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sweat_groin" id="sweat_groin2" value="1" required>
                <label class="form-check-label" for="sweat_groin2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.24 }}.</strong> 땀 많이나는 부위-손발</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sweat_hand" id="sweat_hand1" value="0" required>
                <label class="form-check-label" for="sweat_hand1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sweat_hand" id="sweat_hand2" value="1" required>
                <label class="form-check-label" for="sweat_hand2">YES</label>
            </div>
        </div>
    </div>
    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.25 }}.</strong> 소화력-식체</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion_stomach" id="digestion_stomach1" value="0" required>
                <label class="form-check-label" for="digestion_stomach1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion_stomach" id="digestion_stomach2" value="1" required>
                <label class="form-check-label" for="digestion_stomach2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.26 }}.</strong> 소화력-가스헛배</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion_gas" id="digestion_gas1" value="0" required>
                <label class="form-check-label" for="digestion_gas1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion_gas" id="digestion_gas2" value="1" required>
                <label class="form-check-label" for="digestion_gas2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.27 }}.</strong> 소화력-속더부룩함</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion_full" id="digestion_full1" value="0" required>
                <label class="form-check-label" for="digestion_full1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion_full" id="digestion_full2" value="1" required>
                <label class="form-check-label" for="digestion_full2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.28 }}.</strong> 소화력-트림</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion_burp" id="digestion_burp1" value="0" required>
                <label class="form-check-label" for="digestion_burp1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion_burp" id="digestion_burp2" value="1" required>
                <label class="form-check-label" for="digestion_burp2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.29 }}.</strong> 소화력-신물</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion_acid_reflux" id="digestion_acid_reflux1" value="0" required>
                <label class="form-check-label" for="digestion_acid_reflux1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion_acid_reflux" id="digestion_acid_reflux2" value="1" required>
                <label class="form-check-label" for="digestion_acid_reflux2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.30 }}.</strong> 소화력-명치답답함</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion_heaviness" id="digestion_heaviness1" value="0" required>
                <label class="form-check-label" for="digestion_heaviness1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion_heaviness" id="digestion_heaviness2" value="1" required>
                <label class="form-check-label" for="digestion_heaviness2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.31 }}.</strong> 소화력-메스꺼움</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion_sickness" id="digestion_sickness1" value="0" required>
                <label class="form-check-label" for="digestion_sickness1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion_sickness" id="digestion_sickness2" value="1" required>
                <label class="form-check-label" for="digestion_sickness2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.4.32 }}.</strong> 소화력-속쓰림</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion_sour_stomach" id="digestion_sour_stomach1" value="0" required>
                <label class="form-check-label" for="digestion_sour_stomach1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="digestion_sour_stomach" id="digestion_sour_stomach2" value="1" required>
                <label class="form-check-label" for="digestion_sour_stomach2">YES</label>
            </div>
        </div>
    </div>

    <input type="text" name="digestion_total" value="0" hidden>
</div>
