<div class="container section_3  col-sm-8">
    <input type="text" value="{{question_sq}}" name='question_sq' hidden>
    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.0 }}.</strong> 육식</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_beef" id="food_beef1" value="0" required>
                <label class="form-check-label" for="food_beef1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_beef" id="food_beef2" value="1" required>
                <label class="form-check-label" for="food_beef2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.1 }}.</strong> 가공식품</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_processed" id="food_processed1" value="0" required>
                <label class="form-check-label" for="food_processed1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_processed" id="food_processed2" value="1" required>
                <label class="form-check-label" for="food_processed2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.2 }}.</strong> 인스턴트식품</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_instant" id="food_instant1" value="0" required>
                <label class="form-check-label" for="food_instant1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_instant" id="food_instant2" value="1" required>
                <label class="form-check-label" for="food_instant2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.3 }}.</strong> 단음식</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_sweet" id="food_sweet1" value="0" required>
                <label class="form-check-label" for="food_sweet1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_sweet" id="food_sweet2" value="1" required>
                <label class="form-check-label" for="food_sweet2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.4 }}.</strong> 맵고 짠 음식</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_spicy" id="food_spicy1" value="0" required>
                <label class="form-check-label" for="food_spicy1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_spicy" id="food_spicy2" value="1" required>
                <label class="form-check-label" for="food_spicy2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.5 }}.</strong> 밀가루 음식</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_flour" id="food_flour1" value="0" required>
                <label class="form-check-label" for="food_flour1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_flour" id="food_flour2" value="1" required>
                <label class="form-check-label" for="food_flour2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.6 }}.</strong> 기름진 음식</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_old" id="food_old1" value="0" required>
                <label class="form-check-label" for="food_old1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="food_old" id="food_old2" value="1" required>
                <label class="form-check-label" for="food_old2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.7 }}.</strong> 과일</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fruit" id="fruit1" value="0" required>
                <label class="form-check-label" for="fruit1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="fruit" id="fruit2" value="1" required>
                <label class="form-check-label" for="fruit2">YES</label>
            </div>
        </div>
    </div>
 
    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.8 }}.</strong> 채소</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="vegetable" id="vegetable1" value="0" required>
                <label class="form-check-label" for="vegetable1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="vegetable" id="vegetable2" value="1" required>
                <label class="form-check-label" for="vegetable2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.9 }}.</strong> 외식 주끼니(회/주)</span>
        <div class="qbox p-1 text-dark form-floating">
            <select class="form-select" id="eat_out" name="eat_out" aria-label=".form-select-sm example"  required>
                <option value=""></option>
                <option value="0">0회</option>
                <option value="1">1회</option>
                <option value="2">2회</option>
                <option value="3">3회</option>
                <option value="4">4회</option>
                <option value="5">5회</option>
                <option value="6">6회</option>
                <option value="7">7회</option>
            </select>
            <label for="eat_out">선택해주세요</label>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.10 }}.</strong> 음주(회/주)</span>
        <div class="qbox p-1 text-dark form-floating">
            <select class="form-select" id="drinking" name="drinking" aria-label=".form-select-sm example"  required>
                <option value=""></option>
                <option value="0">0회</option>
                <option value="1">1회</option>
                <option value="2">2회</option>
                <option value="3">3회</option>
                <option value="4">4회</option>
                <option value="5">5회</option>
                <option value="6">6회</option>
                <option value="7">7회</option>
            </select>
            <label for="drinking">선택해주세요</label>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.11 }}.</strong> 흡연(개비/일) (1갑:20개비)</span>
        <div class="qbox p-1 text-dark">
            <div class="input-group mb-3">
                <input type="number" class="form-control" min="0" name="smoking" placeholder="개비수 입력" required>
            </div>
        </div>
    </div>
    
    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.12 }}.</strong> 커피(회/일)</span>
        <div class="qbox p-1 text-dark">
            <div class="input-group mb-3">
                <input type="number" class="form-control" min="0" name="coffee" placeholder="횟수 입력" required>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.13 }}.</strong> 걷기운동시간(분/1회)</span>
        <div class="qbox p-1 text-dark">
            <div class="input-group mb-3">
                <input type="number" class="form-control" min="0" name="walk_time" placeholder="횟수 입력" required>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.14 }}.</strong> 걷기운동주간횟수</span>
        <div class="qbox p-1 text-dark form-floating">
            <select class="form-select" id="walk_count" name="walk_count" aria-label=".form-select-sm example"  required>
                <option value=""></option>
                <option value="0">0회</option>
                <option value="1">1회</option>
                <option value="2">2회</option>
                <option value="3">3회</option>
                <option value="4">4회</option>
                <option value="5">5회</option>
                <option value="6">6회</option>
                <option value="7">7회</option>
            </select>
            <label for="walk_count">선택해주세요</label>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.15 }}.</strong> 기타운동(선택입력)</span>
        <div class="qbox p-1 text-dark ">
            <div class="input-group mb-3"  id="lineinput">
                <input type="text" class="form-control" name="etc_exercise" placeholder="운동 입력">
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.16 }}.</strong> 30분이상 햇볕쬐기(회/주)</span>
        <div class="qbox p-1 text-dark form-floating">
            <select class="form-select" id="sunshine_count" name="sunshine_count" aria-label=".form-select-sm example"  required>
                <option value=""></option>
                <option value="0">0회</option>
                <option value="1">1회</option>
                <option value="2">2회</option>
                <option value="3">3회</option>
                <option value="4">4회</option>
                <option value="5">5회</option>
                <option value="6">6회</option>
                <option value="7">7회</option>
            </select>
            <label for="sunshine_count">선택해주세요</label>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.17 }}.</strong> 잠드는시간(시,0~23)</span>
        <div class="qbox p-1 text-dark">
            <div class="input-group mb-3"  id="lineinput">
                <input type="number" step="0.5" min="0" class="form-control" name="sleep_time" placeholder="시간 입력" required>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.18 }}.</strong> 기상시간(시,0~23)</span>
        <div class="qbox p-1 text-dark">
            <div class="input-group mb-3"  id="lineinput">
                <input type="number" step="0.5" min="0" class="form-control" name="wakeup_time" placeholder="시간 입력" required>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.19 }}.</strong> 자다깨는횟수(회/일)</span>
        <div class="qbox p-1 text-dark">
            <div class="input-group mb-3"  id="lineinput">
                <input type="number" min="0" class="form-control" name="breaksleep_count" placeholder="횟수 입력" required>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.20 }}.</strong> 입면시간(잠드는시간)(분)</span>
        <div class="qbox p-1 text-dark">
            <div class="input-group mb-3"  id="lineinput">
                <input type="number" min="0" class="form-control" name="sleepin_time" placeholder="분 입력" required>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.21 }}.</strong> 기상시 개운함</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="wakeup_refresh" id="wakeup_refresh1" value="0" required>
                <label class="form-check-label" for="wakeup_refresh1">나쁨</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="wakeup_refresh" id="wakeup_refresh2" value="1" required>
                <label class="form-check-label" for="wakeup_refresh2">보통</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="wakeup_refresh" id="wakeup_refresh3" value="2" required>
                <label class="form-check-label" for="wakeup_refresh3">좋음</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.22 }}.</strong> 흉식호흡여부</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="breath_chest" id="breath_chest1" value="0" required>
                <label class="form-check-label" for="breath_chest1">NO</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="breath_chest" id="breath_chest2" value="1" required>
                <label class="form-check-label" for="breath_chest2">YES</label>
            </div>
        </div>
    </div>

    <div class="row card questioniner">
        <span class="card-header p-1 "><strong>{{ numbering.3.23 }}.</strong> 호흡종류</span>
        <div class="qbox p-1 text-dark">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="breath_sort" id="breath_sort1" value="0" required>
                <label class="form-check-label" for="breath_sort1">얕은숨</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="breath_sort" id="breath_sort2" value="1" required>
                <label class="form-check-label" for="breath_sort2">한숨</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="breath_sort" id="breath_sort3" value="2" required>
                <label class="form-check-label" for="breath_sort3">호흡곤란</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="breath_sort" id="breath_sort4" value="3" required>
                <label class="form-check-label" for="breath_sort4">숨참</label>
            </div>
        </div>
    </div>
</div>
