{% extends 'base.html' %}

{% block content %}
<div style="padding-left: 7.5%; padding-right: 7.5%; height: 100vh; font-size: 20px;">
	<div class="row justify-content-center">
		<p style="text-align: center;">마이페이지</p>
		<div class="wrapper col-sm-7" style="text-align: center; padding: 2% 5%;"> 

            <p>{{ user.name }}님 안녕하세요.</p>
            <br>
            {% if not user.is_admin %}
            <a href="/delete_user/{{user.id}}">
                <input type="submit" class="btn btn-warning col-3" value="회원탈퇴"> 
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}