{% extends "index_base.html" %}
{% block contents %}
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3">
                                <span class="material-symbols-outlined">
                                    settings_accessibility
                                    </span>
                            </div>
                            <h1 class="fw-bolder">회원가입</h1>
                            <p class="lead fw-normal text-muted mb-0">정보를 입력해주세요.</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            
                            <div class="col-lg-8 col-xl-6">
                                <!-- * * * * * * * * * * * * * * *-->
                                <!-- * * SB Forms Contact Form * *-->
                                <!-- * * * * * * * * * * * * * * *-->
                                <!-- This form is pre-integrated with SB Forms.-->
                                <!-- To make this form functional, sign up at-->
                                <!-- https://startbootstrap.com/solution/contact-forms-->
                                <!-- to get an API token!-->
                                {% include "detoxapp/form_errors.html" %}
                                <form action="/signup/" method="post" enctype=multipart/form-data>
                                    {% csrf_token %} 
                                    <!-- Name input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="floatingname" type="text" name="name" placeholder="Enter your name..." data-sb-validations="required,name" />
                                        <label for="floatingname">이름</label>
                                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                    </div>

                                    <!-- ID input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="floatingid" type="text" name="username" placeholder="Enter your id..." data-sb-validations="required,username" />
                                        <label for="floatingid">아이디</label>
                                        <div class="invalid-feedback">A id is required.</div>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="floatingpw" type="password" name="password1" placeholder="Enter your pw..." />
                                        <label for="floatingpw">패스워드</label>
                                        <div class="invalid-feedback">A password is required.</div>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="floatingpw2" type="password" name="password2" placeholder="Enter your check-pw..." />
                                        <label for="floatingpw2">패스워드 확인</label>
                                        <div class="invalid-feedback">A password is required.</div>
                                    </div>

                                    <!-- Email address input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="floatingemail" type="email" name="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                        <label for="floatingemail">이메일 주소</label>
                                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="floatingphone" type="text" name="phone" placeholder="- 제외하고 입력" data-sb-validations="required,phone" />
                                        <label for="floatingphone">전화번호</label>
                                        <div class="invalid-feedback" data-sb-feedback="phone:required">An phone-number is required.</div>
                                    </div>

                                    <!-- <div class="form-floating mb-3" style="display: none;">
                                        <input class="form-control" id="floatingdate" type="text" name="join_date" placeholder=" " />
                                        <label for="floatingdate">가입일</label>
                                    </div> -->
                                    <!-- Submit success message-->
                                    <!---->
                                    <!-- This is what your users will see when the form-->
                                    <!-- has successfully submitted-->
                                    <!-- <div class="d-none" id="submitSuccessMessage">
                                        <div class="text-center mb-3">
                                            <div class="fw-bolder">Form submission successful!</div>
                                            To activate this form, sign up at
                                            <br />
                                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                        </div>
                                    </div> -->
                                    <!-- Submit error message -->
                                    <!---->
                                    <!-- This is what your users will see when there is-->
                                    <!-- an error submitting the form-->
                                    <!-- <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div> -->

                                    <div class="d-grid"><input type="submit" class="btn btn-primary btn-lg" value="Sign-Up"></input></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
{% endblock %} 