{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI 설진/문진시스템-SMARTOX</title>
    <link href="{% static 'detoxapp/css/question_new.css' %}" rel="stylesheet" >
    <link href="{% static 'detoxapp/css/bootstrap.css' %}" rel="stylesheet" >
    <script src="{% static 'detoxapp/js/bootstrap.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'detoxapp/js/jquery.js' %}" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Orbit&display=swap" rel="stylesheet">
    <!-- Custom Google chart-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- renew -->
    <link href="{% static 'detoxapp/css/demo.css' %}" rel="stylesheet" >

</head>

<body class="h-100">
    <main class="flex-shrink-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container px-5">
            <a class="navbar-brand" href="/">
                <div class="align-self-center col-12">
                    <img src="{% static 'detoxapp/image/uzu_logo.png' %}" alt="" style="height:35px;">
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="resume.html">Resume</a></li> -->
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    <button id="homemodal"  data-bs-toggle="modal" data-bs-target="#homemodal" hidden></button>
    <div class="modal fade" id="homemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                이후 수정할 수 없습니다. <br> 다음으로 계속 진행하시겠습니까?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">돌아가기</button>
            <button type="button" class="btn btn-primary">다음 진행하기</button>
            </div>
        </div>
        </div>
    </div>
</body>
{% endblock %}
<script>
    $(document).ready(function(){
        var bodyh = window.outerHeight - 150
        $(".home-bg").css('height',bodyh)
    })    
</script>
</html>